.login-page {
  height: 100% !important;
  background-size: auto;
  background-position: top;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../../../assets/images/background-1.jpeg);
}

@media screen and (max-width: 768px) {
  .login-page {
    padding: 2.5rem 1.5rem 6rem;
    justify-content: start;
  }
}
