.staff {
  padding: 0 5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  margin-top: 12rem;
  .content-box {
    margin-top: 6rem;
  }
}

.staff-card {
  margin-top: 8rem;
  background-image: linear-gradient(#47548d, #0d1f53);
  width: 200px;
  height: 250px;
  border-radius: 6px;
  padding: 5rem 2rem 0rem;
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  .staff-img {
    position: absolute;
    max-width: 40%;
    top: -3rem;
  }
  .linkedIn-img {
    margin-top: 1rem;
    width: 40%;
  }
}

@media screen and (max-width: 768px) {
  .staff {
    padding: 0 1.5rem;
    padding-bottom: 9rem;
    flex-direction: column;
    .content-box {
      max-width: 100%;
    }
  }
}
