nav{
    height: 6rem;
    padding: 0 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .navbar-brand{
        img{
            max-height: 2rem;
        }
        cursor: pointer;
    }
    .navbar-menu{
        .navbar-link{
            margin-left: 3rem;
            text-decoration: none;
            color: #fff;
        }
    }
}