.home-banner {
  color: #fff;
  margin-top: 6rem;
  padding: 0 5rem;
  display: flex;
  justify-content: space-between;
  .banner-content {
    padding-top: 2rem;  
  }
  button{
      margin-right: 2rem;
  }
  .buttons-div{
    display: flex;
  }

  .banner-cube {
    max-width: 50vw;
  }
}

@media screen and (max-width: 768px) {
  .home-banner{
    margin-top: 1rem;
    padding: 0 1.5rem;
    display: block;
  }
  button{
    margin-right: 0;
}
}
