.login-box {
  width: 25vw;
  margin: 2rem 0 0;
  border-radius: 8px;
  background-color: #151744;
  position: relative;
  padding: 1.5rem 2.5rem;
  color: #6c77a1;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 8px;
    width: 100%;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    background-image: linear-gradient(to right, #71d8b1, #4d58d8);
  }
}

.login-box-heading {
  color: #6c77a1;
  text-align: center;
  position: relative;
  overflow: hidden;
  &::before {
    content: "";
    height: 1px;
    width: 50%;
    top: 50%;
    background-color: #6c77a1;
    overflow: hidden;
    position: absolute;
    margin-left: -60%;
  }
  &::after {
    content: "";
    height: 1px;
    width: 50%;
    top: 50%;
    background-color: #6c77a1;
    overflow: hidden;
    position: absolute;
    transform: translateX(20%);
  }
}

.login-using {
  display: flex;
  margin: 1rem 0;
  justify-content: space-between;
  .login-using-btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7.2vw;
    height: 3.5rem;
    background-color: #243278;
    img {
      max-width: 2.4vw;
    }
  }
}

form {
  & > div {
    padding-bottom: 1rem;
  }
  .row > div {
    position: relative;
    left: -12px;
  }
}
.login-input {
  width: 100%;
}


.forgot-password-link {
  color: #7d7d7d !important;
  text-decoration: underline !important;
}

@media screen and (max-width: 768px) {
  .login-box {
    width: auto;
    left: 0;
    right: 0;
    padding: 1.5rem 1.5rem;
  }
  .login-using {
    display: flex;
    margin: 2rem 0;
    justify-content: space-evenly;
    .login-using-btn {
      width: 3rem;
      height: 3rem;
      background-color: #243278;
      img {
        max-width: 2rem;
      }
    }
  }
}
