.App {
  max-width: 1920px;
  font-size: 14px;
  height: 100%;
  position: relative;
}

h2 {
  font-size: 38px;
}
h4{
  font-weight: 400;
}

.page{
  height: 100% !important ;
}

.align-right {
  display: flex;
  align-items: flex-end;
  justify-content: end;
  .content-box {
    padding-top: 2rem;
  }
}

.content-box {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  width: 600px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 2rem;
    left: 0;
    width: 80px;
    height: 2px;
    background-color: #77d8ae;
  }
  p {
    margin-bottom: 6rem;
  }
}

.btn {
  background-image: linear-gradient(to top right, #78dbad, #4f4ed6);
  border: none;
  height: 2.5rem;
  width: 10rem;
  font-size: 14px;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
}

.btn-outline {
  height: 2.5rem;
  width: 10rem;
  font-size: 14px;
  border-radius: 6px;
  color: #fff;
  border: solid 2px transparent;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    linear-gradient(to top right, #78dbad, #4f4ed6);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #181a43 inset;
}

.link {
  text-decoration: none;
  color: #fff;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.center {
  display: flex;
  justify-content: center;
}
.mobile-visible {
  display: none;
}
.mobile-visible-flex {
  display: none;
}

.textfield-label {
  color: #6c77a1 !important;

}
.textfield {
  color: #fff !important;
  border-color: #6c77a1 !important;
  font-size: 14px;
  &::before {
    border-color: #6c77a1 !important;
  }
  &::placeholder{
    font-weight: 400 !important;
    font-style: 'italic' !important;
  }
}

.MuiOutlinedInput-notchedOutline{
  border-color: #6c77a1 !important;

}


@media screen and (min-width: 768px) and (max-width: 992px) {
  .tablet-hidden {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .mobile-hidden {
    display: none !important;
  }
  .mobile-visible {
    display: block;
  }
  .mobile-visible-flex{
    display: flex;
  }
  h2 {
    font-size: 24px;
  }
  .content-box {
    width: auto;
    &::before {
      content: "";
      position: absolute;
      top: 2rem;
      left: 0;
      width: 80px;
      height: 2px;
      background-color: #77d8ae;
    }
    p {
      margin-bottom: 2rem;
    }
  }
}
